body {
	padding:0px;
	margin:0px;
}
#headpats {
	background-color:white;
	background-position: center center;
	background-size:contain;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	color:white;
	//transition:.1s ease background;
}